body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
}

h1 {
  font-size: 42px;
  margin-top: 60px;
}

h1 {
  font-size: 42px;
  margin-top: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  text-transform: uppercase;
}
p {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 700px;
}
a:link {
  color: rgb(168, 199, 143);
}
a:visited {
  color: #eb78b3;
}
a:hover {
  color: #f49ed7;
}
a:active {
  color: #f714ad;
}
figure {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
}
li {
  margin-bottom: 5px;
}
