body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url(../images/red_abbey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(250, 250, 250);
}

h1 {
  font-size: 42px;
  padding-top: 60px;
}

h2 {
  font-size: 27px;
  margin-top: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  text-transform: uppercase;
}
p {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 700px;
}
a:link {
  color: rgb(168, 199, 143);
}
a:visited {
  color: #eb78b3;
}
a:hover {
  color: #f49ed7;
}
a:active {
  color: #f714ad;
}
figure {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
}
li {
  margin-bottom: 5px;
}
caption {
  font-size: 27px;
  margin-top: 40px;
  text-align: left;
  text-transform: uppercase;
}
th {
  text-align: left;
  padding-right: 30px;
}
td {
  padding-right: 30px;
  padding-top: 10px;
}
input {
  margin-left: 10px;
  padding: 10px;
  border: none;
  background-color: rgb(247, 247, 247);
}
textarea {
  border: none;
  background-color: rgb(247, 247, 247);
}
fieldset {
  width: 450px;
}
button {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(168, 109, 147);
  padding: 10px;
  color: rgb(247, 247, 247);
  border: none;
}
button:hover {
  background-color: rgb(117, 41, 90);
}
main {
  background: rgba(0, 0, 0, 0.5);
  padding: 60px;
}
